:root { 
    --header-height: 70px;
    --primary-color: #f9c9cb; 
    --secondary-color-active: #de7677;
    --secondary-color: #b8494d; 
    --profile-img--height: 150px;
} 

header {
    height: var(--header-height);
    background-color: var(--primary-color);
    padding: 0 50px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
    margin-top: calc(--header-height);
}

.header-logo{
    height: 50px;
}

.header-search {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 20px;
    background-color: white;
    border-style: none;
    color: var(--secondary-color);
    font-size: 14px;
}

.header-search::placeholder{
    color: var(--secondary-color);   
    font-size: 14px;
}

.header-search:focus {
    outline: none; 
}

.header-icon-menu{
    height: 32px;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.header-icon-menu:hover{
    cursor: pointer;
}

.header-menu-img{
    height: 25px;
    padding: 0 10px;
    padding-right: 5px;
}

.header-menu-text{
    padding-right: 10px;
    font-size: 14px;
    color: black;
}

.header-item{
    width: 35%;
}

.header-item-logo{
    width: 30%;
}

.center{
    align-items:center;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.items-right{
    justify-content: flex-end;
}

.between {
    justify-content: space-between;
}

.menu-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

.rounding{
    border-radius: 10px;
}


.modal-background {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    background-color: rgba(200, 200, 200, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
  
.modal-container {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    padding: 25px;
    color: var(--secondary-color);
}
  
.modal-container .title {
    display: inline-block;
    text-align: center;
}

.modal-container h2{
    margin: 0;
}
  
.title-close-btn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: var(--secondary-color);
    cursor: pointer;
}
  
.modal-container .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 1.7rem;
}

.modal-container .menu-item{
    padding: 5px 0;
}
.modal-container img{
    height: 20px;
}

.modal-container span{
    font-size: 20px;
}

.modal-container img, .modal-container span{
    cursor: pointer;
}

.modal-container span:hover, .title-close-btn button:hover{
    color: white;
}




.card a{
    text-decoration: none;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
}

.card {
    box-sizing: border-box;
    flex-basis: calc(20% - 8px); 
    padding: 10px;
    background-color: var(--primary-color);
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 10px;
}

.card img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
}

.product-container{
    height: 350px;
}
.img-container{
    height: 70%;
}

.card button{
    width: 100%;
    background: var(--secondary-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border:none;
    color: #ffffff;
    align-items: center;  
    justify-content: center;
}

.info-card button img{
    width: 18px;
    padding-right: 5px;
    height: 30%;
}

.info-card button:hover{
    background: var(--secondary-color-active);
}

.score{      
    align-items: center;  
}

.score img{
    width: 15px;
    padding-right: 5px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: transform 0.3s;
}

button{
    cursor: pointer;
}

.info-card-text{
    padding: 5px;
}

.info-card-text > div, .card-cart-item > div{
    color: var(--secondary-color-active);
}

.prace{
    color: var(--secondary-color) !important;
    font-weight: 900;
    font-size: 15px;
}

main{
    padding: 90px 40px 15px;
}


.registration{
    background-color: #f6f6f9;
}

.form-item input{
    width: 100%;
}

.login-form button{
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border: none;
}

.register{
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 350px;
    background-color: var(--primary-color);
    padding: 25px;
    border-radius: 10px;
    margin-top: 140px;
    
}

.login-form h1 {
    text-align: center;
    color: #ffffff;
}

.form-item {
    margin-bottom: 10px;
}

.form-item input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.btn-login {
    border-radius: 10px;
    font-size: 16px;
}

.sign-in div{
    color :#ffffff;
    display: inline;
}

.sign-in span:active{
    color :#ffffff;
}

.sign-in > span{
    color: var(--secondary-color);
    text-decoration:underline;
    cursor: pointer;
}

.product-card{
    margin-top: 80px;
    padding: 20px;
}

.product-card-info-photo img{
    border-radius: 5%;
    height: 500px;
}

.product-card-info-text-name{
    font-weight: 900;
    font-size: 25px;
}

.go-back img{
    width: 30px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.go-back img:hover{
    transform: scale(1.15);
    transition: transform 0.3s;
}

.product-card-info-text{
    padding-left: 30px;
}

.product-card-info-text-item{
    padding-bottom: 10px;
}

.product-card-info-text-item button{
    width: 100%;
    background: var(--secondary-color);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    border:none;
    color: #ffffff;
    font-size: 15px;
}

.table-characteristic td{
    height: 30px; 
    vertical-align: top;
}

.card-cart{
    background-color: var(--primary-color);
    width: 70%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.card-cart-item{
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    width: 25%;
    color: var(--secondary-color);
}

.card-cart-item img{
    height: 100%;
}

.card-cart-item .quantity{
    background: var(--secondary-color);
    border-radius: 25%;
    width: 20px;
    font-size: 20px;
    height: 20px;
    border:none;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.bin {
    background-color: var(--primary-color);
    font-size: 30px;
    height: 30px;
    border:none;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.card-cart-item button:hover{
    transform: scale(1.15);
    transition: transform 0.3s;
}

.left{
    margin-left: auto
}

.cart-title{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

@media screen and (max-width: 1200px){
    .card {
        width: 50%;
    }

    .logo {
        display: none;
    }

    .discounts-with-wallet{
        display: none;
    }

    .product-card-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

@media screen and (max-width: 600px){
    .card {
        width: 100%;
    }

    .side-menu-but {
        display: none;
    }

    .footer-qr{
        justify-content: center;
    }

    .footer-text{
        padding-bottom: 20px;
    }

    .text-and-links-social-networks{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}   
}

.profile-card-img img{
    height: var(--profile-img--height);
}

.profile-card{
    box-sizing: border-box;
    /*height: var(--profile-img--height);*/
    padding: 10px;
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.profile-icon-edit{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.profile-button-icon-edit{
    cursor: pointer; 
    border: none; 
    background: none;
}




.profile-color-type {
    display: flex;
    align-items: center;
}

.profile-color-type-text {
    margin-right: 5px; /* Отступ между текстом и иконкой */
}

.profile-color-type-icon-container {
    position: relative;
    display: inline-block;
}

.profile-color-type-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.profile-color-type-tooltip {
    position: absolute;
    top: 20px;
    left: -100px; /* Центрирование */
    background-color: var(--secondary-color);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 4;
    width: 200px;
    text-align: center;
}



/* footer  - начало*/
footer{
    background-color: #cccccc;
    padding: 20px;
} 

.footer-link{
    width: 40px;
}

.text-and-links-social-networks{
    padding-top: 20px;
}

.footer-qr img{
    width: 150px;
}

footer .menu-list{
    width: 150px;
}

.footer-text {
    color: #868695;
}

.footer-text a{
    text-decoration: underline;
    
}

.footer-text a:hover{
    color: #ffffff;
    cursor: pointer;
}
/* footer  - конец*/

.add-product-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
}

.add-product-form-container {
    background-color: var(--primary-color);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px;
    padding: 30px 35px 25px 35px;
    margin-top: 70px;
    min-width: 350px;
    color: var(--secondary-color);
    max-width: 400px; 
    width: 100%;      
    box-sizing: border-box;
}

.add-product-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.add-product-form .form-item {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.add-product-form .form-item label {
    margin-bottom: 6px;
    color: var(--secondary-color);
    font-weight: 500;
}

.add-product-form .form-item input[type="text"],
.add-product-form .form-item input[type="number"],
.add-product-form .form-item input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    box-sizing: border-box;
    color: var(--secondary-color);
}

.add-product-form .form-item input[type="file"] {
    padding: 0;
}
.btn-add-product, .btn-pick-color {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px 0;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    transition: background 0.2s;
}

.btn-add-product:hover, .btn-pick-color:hover {
    background-color: var(--secondary-color-active);
}



  input[type="file"]::file-selector-button {
    background-color: var(--secondary-color); /* основной цвет кнопки */
    color: white;
    border: none;
    border-radius: 10px;       /* радиус как у ваших кнопок */
    padding: 10px 18px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.2s;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: var(--secondary-color-active); /* цвет при наведении */
  }
  
  
  .selected-color-row {
    display: flex;
    align-items: center;
    gap: 10px; /* расстояние между элементами */
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--secondary-color);
    font-weight: 500;
  }
  
  .color-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 6px;
  }
  .color-hex {
    font-family: monospace;
    font-size: 14px;
  }

.profile-main {
  padding: 90px 40px 40px;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
}

.profile-card {
  display: flex;
  gap: 25px;
  width: 100%;
  max-width: 450px;
  background-color: var(--primary-color);
  padding: 25px 30px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px;
  color: var(--secondary-color);
  flex-direction: column; /* фото сверху, инфо снизу */
  align-items: center;    /* центрируем по горизонтали */
}

.profile-card-img img {
  width: var(--profile-img--height);
  height: var(--profile-img--height);
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

.profile-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  min-width: 350px;
  

}

.profile-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.profile-info-text {
  flex: 1;
  margin: 0;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-button-icon-edit {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  flex-shrink: 0;
}

.profile-icon-edit {
  width: 22px;
  height: 22px;
  filter: invert(30%) sepia(78%) saturate(747%) hue-rotate(335deg) brightness(90%) contrast(87%);
  transition: filter 0.2s;
}

.profile-button-icon-edit:hover .profile-icon-edit {
  filter: invert(58%) sepia(87%) saturate(323%) hue-rotate(335deg) brightness(100%) contrast(95%);
}

.profile-color-type {
  position: relative;
}

.profile-color-type-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  flex-shrink: 0;
}

.profile-color-type-icon {
  width: 20px;
  height: 20px;
  filter: invert(34%) sepia(81%) saturate(650%) hue-rotate(324deg) brightness(92%) contrast(89%);
}

.profile-test-info {
  margin-top: 30px;
  box-sizing: border-box;
  max-width: 450px; 
  width: 100%;     
  min-width: 350px;
  background-color: var(--primary-color);
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px;
  color: var(--secondary-color);
  
  text-align: center;
  font-size: 16px;
}
 
.dashed{
  border-bottom: 1px dashed  var(--secondary-color);
  cursor: pointer;
}

.dashed:hover{
    color: white;
}

.btn-logout {
  margin-top: 30px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 0;
  width: 450px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-logout:hover {
  background-color: var(--secondary-color-active);
}

/* test in profile*/
.productinfo-main {
    padding: 40px;
    max-width: 1000px;
    margin: var(--header-height) auto;
    
    font-family: "Roboto", sans-serif;
    color: var(--secondary-color);
  }
  
  .productinfo-back-link {
    text-decoration: underline;
    color: var(--secondary-color);
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
  }
  
  .productinfo-flexbox {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .productinfo-imgwrap {
    flex: 1 1 300px;
  }
  
  .productinfo-img {
    width: 320px;     /* !!!!   */
    max-width: 400px;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .productinfo-details {
    flex: 1 1 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .productinfo-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 700;
  }

  
  /* Секция с размерами */
  .productinfo-sizes-section {
    margin-bottom: 20px;
  }
  
  .productinfo-size-table-link {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: var(--secondary-color);
    margin-bottom: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .productinfo-sizes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  /*вроде radio для профиля*/
  .productinfo-size-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    color: var(--secondary-color);
    transition: all 0.2s ease;
  }
  
  .productinfo-size-button:hover {
    border-color: var(--secondary-color);
  }
  
  .productinfo-size-button.selected {
    border: 2px solid var(--secondary-color);
    font-weight: bold;
  }
  
  .productinfo-price {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .productinfo-colortype,
  .productinfo-material {
    margin-bottom: 15px;
  }
  
  /*при добавлении товара стилизую два появляющихся раздела для выбора стиля и категории*/
  /* Стили для чекбокса — просто розовый акцент */
input[type="checkbox"] {
    accent-color: var(--secondary-color); /* розовый цвет */
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 8px;
  }
  