:root { 
    --header-height: 70px;
    --primary-color: #f9c9cb; 
    --secondary-color-active: #de7677;
    --secondary-color: #b8494d; 
} 

header {
    height: var(--header-height);
    background-color: var(--primary-color);
    padding: 0 50px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
    margin-top: calc(--header-height);
}

.header-logo{
    height: 50px;
}

.header-search {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 20px;
    background-color: white;
    border-style: none;
    color: black;
    font-size: 14px;
}

.header-search::placeholder{
    color: black;   
    font-size: 14px;
}

.header-icon-menu{
    height: 32px;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.header-icon-menu:hover{
    cursor: pointer;
}

.header-menu-img{
    height: 25px;
    padding: 0 10px;
    padding-right: 5px;
}

.header-menu-text{
    padding-right: 10px;
    font-size: 14px;
    color: black;
}

.header-item{
    width: 35%;
}

.header-item-logo{
    width: 30%;
}

.center{
    align-items:center;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.items-right{
    justify-content: flex-end;
}

.between {
    justify-content: space-between;
}

.menu-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

.rounding{
    border-radius: 10px;
}


.modal-background {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    background-color: rgba(200, 200, 200, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
  
.modal-container {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    padding: 25px;
    color: var(--secondary-color);
}
  
.modal-container .title {
    display: inline-block;
    text-align: center;
}

.modal-container h2{
    margin: 0;
}
  
.title-close-btn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: var(--secondary-color);
    cursor: pointer;
}
  
.modal-container .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 1.7rem;
}

.modal-container .menu-item{
    padding: 5px 0;
}
.modal-container img{
    height: 20px;
}

.modal-container span{
    font-size: 20px;
}

.modal-container img, .modal-container span{
    cursor: pointer;
}

.modal-container span:hover, .title-close-btn button:hover{
    color: white;
}




.card a{
    text-decoration: none;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
}

.card {
    box-sizing: border-box;
    flex-basis: calc(20% - 8px); 
    padding: 10px;
    background-color: var(--primary-color);
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 10px;
}

.card img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
}

.product-container{
    height: 350px;
}
.img-container{
    height: 70%;
}

.card button{
    width: 100%;
    background: var(--secondary-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border:none;
    color: #ffffff;
    align-items: center;  
    justify-content: center;
}

.info-card button img{
    width: 18px;
    padding-right: 5px;
    height: 30%;
}

.info-card button:hover{
    background: var(--secondary-color-active);
}

.score{      
    align-items: center;  
}

.score img{
    width: 15px;
    padding-right: 5px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: transform 0.3s;
}

button{
    cursor: pointer;
}

.info-card-text{
    padding: 5px;
}

.info-card-text > div, .card-cart-item > div{
    color: var(--secondary-color-active);
}

.prace{
    color: var(--secondary-color) !important;
    font-weight: 900;
    font-size: 15px;
}

main{
    padding: 90px 40px 15px;
}


.registration{
    background-color: #f6f6f9;
}

.form-item input{
    width: 100%;
}

.login-form button{
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border: none;
}

.register{
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 350px;
    background-color: var(--primary-color);
    padding: 25px;
    border-radius: 10px;
    margin-top: 140px;
    
}

.login-form h1 {
    text-align: center;
    color: #ffffff;
}

.form-item {
    margin-bottom: 10px;
}

.form-item input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.btn-login {
    border-radius: 10px;
    font-size: 16px;
}

.sign-in div{
    color :#ffffff;
    display: inline;
}

.sign-in span:active{
    color :#ffffff;
}

.sign-in > span{
    color: var(--secondary-color);
    text-decoration:underline;
    cursor: pointer;
}

.product-card{
    margin-top: 80px;
    padding: 20px;
}

.product-card-info-photo img{
    border-radius: 5%;
    height: 500px;
}

.product-card-info-text-name{
    font-weight: 900;
    font-size: 25px;
}

.go-back img{
    width: 30px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.go-back img:hover{
    transform: scale(1.15);
    transition: transform 0.3s;
}

.product-card-info-text{
    padding-left: 30px;
}

.product-card-info-text-item{
    padding-bottom: 10px;
}

.product-card-info-text-item button{
    width: 100%;
    background: var(--secondary-color);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    border:none;
    color: #ffffff;
    font-size: 15px;
}

.table-characteristic td{
    height: 30px; 
    vertical-align: top;
}

.card-cart{
    background-color: var(--primary-color);
    width: 70%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.card-cart-item{
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    width: 25%;
    color: var(--secondary-color);
}

.card-cart-item img{
    height: 100%;
}

.card-cart-item .quantity{
    background: var(--secondary-color);
    border-radius: 25%;
    width: 20px;
    font-size: 20px;
    height: 20px;
    border:none;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.bin {
    background-color: var(--primary-color);
    font-size: 30px;
    height: 30px;
    border:none;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.card-cart-item button:hover{
    transform: scale(1.15);
    transition: transform 0.3s;
}

.left{
    margin-left: auto
}

.cart-title{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

@media screen and (max-width: 1200px){
    .card {
        width: 50%;
    }

    .logo {
        display: none;
    }

    .discounts-with-wallet{
        display: none;
    }

    .product-card-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

@media screen and (max-width: 600px){
    .card {
        width: 100%;
    }

    .side-menu-but {
        display: none;
    }

    .footer-qr{
        justify-content: center;
    }

    .footer-text{
        padding-bottom: 20px;
    }

    .text-and-links-social-networks{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}   
}

/*
.menu-list-item {
    display: flex;                  
    flex-direction: column;        
    align-items: center;           
    padding-left: 5px;    
    padding-right: 5px;     
}

.menu-list-item img {
    display: block;           
}

.menu-list-item a {
    color: hsla(0, 0%, 100%, .6);
    text-decoration: none;
    display: block;
}

.menu-list-item:hover a{
    color: #ffffff;
}




.footer-menu-list-item:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.3s;
}
*/

/*
изначальный вариант с главной страницей, но были проблемы, что карточки товара слеплены, а margin не 
идет при расчете box-sizing: border-box;
.product-cards{
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;
}
.card{
    box-sizing: border-box;
    width: calc(20% - 20px);
    padding: 5px;
    background-color: var(--primary-color);
}
*/





/*
body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
    margin-top: 70px;
}
    

.top-static-nav-menu{
    align-items:center;
    justify-content:space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to right, #ed3cca,  #7c0bec);
    height: 60px;
}

/*
.menu-but{
    background-color: #d431d1;
    background-image: url(https://img.icons8.com/?size=100&id=120374&format=png&color=FFFFFF);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
    border-color: hsla(0, 0%, 100%, 0.6);
    width:50px;
    height: 50px;
}

.menu-but:hover{
    border-color: #ffffff;
}


.search input{
    width: 700px;
    height: 50px;
    border-color: #ffffff;
    padding-left: 15px;
}

.search:active{
    border: none;
}


.advertisement{
    padding-top: 15px;
    padding-bottom: 15px;
}

.advertisement-item{
    padding: 5px 20px;
}

.advertisement-item img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

*/


/* footer  - начало*/
footer{
    background-color: #cccccc;
    padding: 20px;
} 

.footer-link{
    width: 40px;
}

.text-and-links-social-networks{
    padding-top: 20px;
}

.footer-qr img{
    width: 150px;
}

footer .menu-list{
    width: 150px;
}

.footer-text {
    color: #868695;
}

.footer-text a{
    text-decoration: underline;
    
}

.footer-text a:hover{
    color: #ffffff;
    cursor: pointer;
}
/* footer  - конец*/
